
.admin-wrapper {
    padding: 10px 40px;
    background-color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
}

.admin-title {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    color: #8B7969;
    text-align: center;
    margin-bottom: 30px;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.search-form input[type="text"],
.search-form select,
.search-form input[type="date"] {
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    font-family: 'Noto Sans JP', sans-serif;
    color: #8B7969;
    background-color: #F4F4F4;
}

.search-form input[type="text"]::placeholder,
.search-form select::placeholder,
.search-form input[type="date"]::placeholder {
    color: #8B7969;
}

.search-form button,
.search-form .reset-button {
    padding: 6px 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    justify-content: space-between;
    font-family: 'Noto Sans JP', sans-serif;
}

.search-form button {
    background-color: #867f79;
    color: #fff;
}

.search-form .reset-button {
    background-color: #D9C6B5;
    color: white;
    text-decoration: none;
    padding-top: 7px;
}

.export-pagination-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.export-button {
    background-color: #E1DBD699;
    justify-content: space-between;
    padding: 5px 10px;
    margin: auto 0;
    margin-bottom: 10px;
    height: 40px;
    width: 140px;
    font-size: 18px;
    color: #8B7969;
    cursor: pointer;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border: #E0DFDE 1px solid;
}

.admin-table th {
    background-color: #8B7969;
    color: white;
    padding: 12px;
    font-weight: bold;
    text-align: left;
}

.admin-table td {
    padding: 20px 15px;
    border-bottom: 1px solid #ddd;
    color: #8B7969;
    font-size: 18px;
}

.detail-button {
    padding: 8px 20px;
    background-color: #F4F4F44D;
    border: 1px solid #D9C6B599;
    color: #D9C6B5;
    text-decoration: none;
}

form {
    display: flex;
    justify-content: space-between;
}

.pagination {
    text-align: right;
}
svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.pagination-square {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin: 10px auto;
}

.pagination-square a,
.pagination-square span {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #E0DFDE;
    color: #8B7969;
    text-decoration: none;
    border-radius: 4px;
    background-color: #fff;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
}

.pagination-square li.active span {
    background-color: #8B7969;
    color: #fff;
    border-color: #8B7969;
}

.pagination-square li.disabled span {
    color: #ccc;
    cursor: not-allowed;
    background-color: #f8f8f8;
}